/* Only meeting statement and key partner section  */
@media (max-width: 1280px) {
  .meetings_cards > .col-3 {
    width: 100%;
  }
  /* ket partner  */
  .row_partners {
    flex-direction: column;
    align-items: center;
  }
  .row_partners .col-3 {
    width: 100%;
  }
  .key-partners-left {
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  /* hero section  */
  .left_hero h1 {
    font-size: 60px;
    line-height: 80px;
    padding-inline: 15px;
  }
  /* mission statement section  */
  .ms_heading {
    font-size: 55px;
    line-height: 60px;
  }
  /* FAQ section  */
  .faq-text {
    font-size: 50px;
    line-height: 60px;
    text-align: center;
  }
  .question img {
    width: 50px;
    margin-right: 0px;
  }
  .footer-row h1 {
    font-size: 28px;
    line-height: 30px;
  }
  /* Map section  */
  .row_map {
    margin-inline: 30px;
  }
  /* key Partners section  */
  .row_partners {
    flex-direction: column;
    align-items: center;
  }
  .row_partners .col-9 {
    width: 100%;
  }
  .key-partners-left {
    align-items: center;
    text-align: center;
  }
  .key-partners-left p {
    width: 100%;
  }
  .partner a {
    display: flex;
    align-items: start;
  }
  .partner-link svg {
    width: 50px;
    margin-left: 0px;
  }
  .partner img {
    width: 200px;
  }
}

@media (max-width: 991px) {
  /* Heder / Navigation bar  */
  .nav-links {
    position: absolute;
    z-index: 99999;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: white;
    height: 100vh;
    padding: 2rem;
    left: -400px;
    padding-bottom: 100vh;
    transition: left 200ms ease-in-out;
  }

  .mobile-links {
    left: 0px;
  }

  .nav-links li a {
    color: black;
  }
  .open {
    display: block;
  }
  .close {
    display: block;
  }
  .hidden {
    display: none;
  }
  .show {
    display: block;
  }
  /* mission statement section  */
  .ms_heading {
    font-size: 48px;
    line-height: 55px;
  }
  .test_statement {
    max-width: 85%;
  }
  /* meeting statement section  */
  .meetings_text h1 {
    font-size: 48px;
    line-height: 45px;
  }
  /* key Partners section  */
  .row-icons {
    flex-wrap: wrap;
  }
  /* Map section  */
  .row_map {
    justify-content: center;
  }
  /* FAQ section  */
  .faq-text {
    font-size: 45px;
    line-height: 55px;
  }
  .faq-row {
    width: 90%;
  }
  .question img {
    width: 45px;
    margin-right: 0px;
  }
  /* Footer section  */
  .footer-row {
    text-align: center;
  }
  .footer_nav {
    flex-direction: column;
    gap: 20px;
  }
  .footer-row h1 {
    font-size: 25px;
    line-height: 28px;
  }
}
@media (max-width: 767px) {
  /* Announcement section  */
  .announcement {
    display: none;
  }
  .logo img {
    width: 128px;
  }
  /* mission statement section  */
  .ms_heading {
    font-size: 38px;
    line-height: 50px;
    padding-inline: 15px;
  }
  .test_statement {
    max-width: 100%;
  }
  button {
    padding: 10px 45px;
    font-size: 14px;
  }
  /* meeting statement section  */
  .meetings_text h1 {
    font-size: 38px;
    line-height: 50px;
  }
  .meetings_buttons {
    margin-top: 0px;
  }
  .meetings_buttons .white_button {
    margin-top: 20px;
    padding-inline: 20px;
  }
  .meetings_buttons .blue_button {
    width: 240px;
    padding-inline: 20px;
  }
  /* FAQ section  */
  .faq-text {
    font-size: 38px;
    line-height: 50px;
  }
  .faq-row {
    width: 100%;
  }
  .question {
    font-size: 18px;
    line-height: 24px;
  }
  .answer {
    font-size: 18px;
    line-height: 28px;
  }
  .question img {
    width: 32px;
  }
  /* Footer section  */
  .footer-row {
    text-align: center;
  }
  .footer_nav {
    flex-direction: column;
    gap: 15px;
  }
  .footer-row h1 {
    font-size: 21px;
    line-height: 25px;
    padding-inline: 20px;
  }
  /* key Partners section  */
  .partner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .partner img {
    max-width: 100%;
    height: auto;
  }
  .partner-link {
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .key-partners-left {
    text-align: center;
    align-items: center;
    width: 100%;
  }
  .key-partners-left p {
    text-align: left;
  }
  .col-4 {
    width: 100%;
  }
  .row-icons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .map {
    margin-top: 330px;
    padding: 50px 0px;
    height: 50vh;
  }
  .content {
    transform: translateY(-360px);
    gap: 32px;
    padding-inline: 0px;
    background: unset;
    box-shadow: unset;
  }
  .row_map {
    margin-inline: 0px;
  }
  .content h1 {
    font-size: 28px;
    line-height: 30px;
  }
}

@media (max-width: 768px) {
  /* Nav hero section  */
  .nav_hero {
    margin-bottom: 350px;
  }
  .hero_row {
    flex-direction: column;
  }
  .card {
    transform: translateY(260px);
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
  }
  .left_hero h1 {
    font-size: 42px;
    line-height: 46px;
    padding-bottom: 20px;
  }
  .hero-card {
    position: absolute;
  }
  .col-8 {
    width: 100%;
    padding-inline: 0px;
  }
  .hero_row {
    padding-top: 100px;
  }
  .card .date,
  .card p,
  .card-link em {
    padding-inline: 20px;
  }

  /* Community section  */
  .content_container > .col-3 {
    width: 100%;
    padding-inline: 15px;
    margin-bottom: 30px;
  }
  .content_container {
    align-items: center;
    margin-top: 30px;
    flex-direction: column;
  }
  .community h2 {
    font-size: 38px;
    line-height: 50px;
    margin-top: -5px;
    color: var(--white-color);
    padding-top: 32px;
  }
  .com_left_contact {
    width: 100%;
  }
  .com_left_contact button {
    width: 100%;
    color: var(--white-color);
    padding-inline: 0px;
  }
  .col-4 {
    padding-inline: 15px;
  }
  .col-9 {
    width: 100%;
    padding-inline: 15px;
  }
  .com_left_contact p {
    width: 100%;
  }
}
